<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: header(title = #{request.caption})"></head>

<body> <!-- right-to-left -->
<span th:replace="fragments/layout_v1.html :: top">top</span>

<div class="row">
    <div class="col-12 pl-2 pr-2 pt-0">
        <div class="card flex-fill w-100 mb-2">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#request_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" href="#request_div" data-toggle="collapse" th:text="#{request.caption}"></h5>
            </div>
            <div class="card-body pt-0 collapse show" id="request_div">
                <div>
                    <span th:replace="request/exportimport :: fragment_body"></span>
                    <span th:replace="request/filter :: request_filter_body"></span>
                    <span th:replace="request/modal :: request_modal_body"></span>
                    <span th:replace="request/card :: request_body"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8 pl-2 pr-2 pt-0">
        <div class="card flex-fill w-100 mb-2">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#box_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" href="#box_div" data-toggle="collapse" th:text="#{box.caption}"></h5>
            </div>
            <div class="card-body pt-0 collapse show" id="box_div">
                <div>
                    <span th:replace="request/box/modal :: box_modal_body"></span>
                    <span th:replace="request/box/card :: box_body"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 pl-2 pr-2 pt-0">
        <div class="card flex-fill w-100 mb-2">
            <div class="card-header">
                <div class="card-actions float-right">
                    <a href="#box_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                </div>
                <h5 class="card-title mb-0" href="#box_div" data-toggle="collapse" th:text="#{boxcontent.caption}"></h5>
            </div>
            <div class="card-body pt-0 collapse show" id="boxcontent_div">
                <div>
                    <span th:replace="request/boxcontent/modal :: boxcontent_modal_body"></span>
                    <span th:replace="request/boxcontent/card :: boxcontent_body"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:replace="fragments/layout_v1.html :: bottom">bottom</span>

<script th:replace="request/boxcontent/modal :: cardscript"></script>
<script th:replace="request/boxcontent/card :: cardscript"></script>

<script th:replace="request/box/modal :: cardscript"></script>
<script th:replace="request/box/card :: cardscript"></script>

<script th:replace="request/exportimport :: fragment_script"></script>
<script th:replace="request/filter :: cardscript"></script>
<script th:replace="request/modal :: cardscript"></script>
<script th:replace="request/card :: cardscript"></script>
</body>
</html>