<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>

<span th:fragment="footer" th:remove="tag">
  <!-- Spark -->
  <script th:src="@{/spark/dist/js/app.js}"></script>

  <!-- Optional JS modules -->
  <script th:src="@{/js/datatables/datatables.min.js}"></script>

  <!-- Default Datatable Buttons -->
  <script th:src="@{/js/datatables/buttons.flash.min.js}"></script>
  <script th:src="@{/js/datatables/jszip.min.js}"></script>
  <script th:src="@{/js/datatables/pdfmake.min.js}"></script>
  <script th:src="@{/js/datatables/vfs_fonts.js}"></script>
  <script th:src="@{/js/datatables/buttons.html5.min.js}"></script>
  <script th:src="@{/js/datatables/buttons.print.min.js}"></script>
  <script th:src="@{/js/datatables/date-de.js}"></script>

  <script th:src="@{/js/idltd/datatable_template_1.js}"></script>

  <script th:inline="javascript">

  $(document).ready(function () {

    var csrf = {
      header: /*[[ ${_csrf.headerName} ]]*/ 'fake-csrf-header-name',
      token: /*[[ ${_csrf.token} ]]*/ 'fake-csrf-token'
    };
    var headers = {};
    headers[csrf.header] = csrf.token;
    $.ajaxSetup({
      headers: headers
    });

    $(".languageSwitcher a").on({
      click: function () {
        $.ajax({
          url: /*[[ @{/} ]]*/ ".",
          data: {
            lang: $(this).attr("data-lang")
          },
          type: 'POST',
          success: function (result) {
            location.reload();
          }
        });
        return false;
      }
    });

    /*[# th:if="${#authorization.expression('isAuthenticated()')}"]*/

      $(".workplaceSwitcher a").on('click', function( event ) {
          $.ajax({
              url: /*[[ @{/api/set_workplace} ]]*/ "api/set_workplace",
              data: {
                  wp_id: $(this).attr("wp_id")
              },
              type: 'POST',
              success: function (result) {
                  location.reload();
              }
          });
          return false;
      });

      // Init Select2
      $(".select2").each(function() {
          $(this)
              .wrap("<div class=\"position-relative\"></div>")
              .select2({
                  placeholder: /*[[ #{general.undefined} ]]*/ "Undefined",
                  dropdownParent: $(this).parent()
              });
      });

      //check session
    var timerId = setTimeout(function tick() {
      $.ajax({
        url: /*[[ @{/sessioncheck} ]]*/ "/sessioncheck",
        type: 'POST',
        dataType: "json",
        success : function (data, textStatus, xhr){
          if (xhr.status === 200) timerId = setTimeout(tick, 60000);
          else location.reload();
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          document.location.assign(/*[[ @{/logout} ]]*/ "/logout");
        }
      });
    }, 60000);

  /*[/]*/

    function CreateMessageDayGraph (aStartDate, aEndDate) {
      $('#message-graph').remove();
      $('#par-message-graph').append('<canvas id="message-graph"></canvas>');

      let labelPoints = [];
      let dataPoints1 = [];
      let dataPoints2 = [];
      let dataPoints3 = [];

      $.ajax({
        url: /*[[ @{/get_message_day_graph} ]]*/ "/get_message_day_graph",
        type: 'GET',
        data: {
          "start_date": aStartDate,
          "end_date": aEndDate
        },
        success: function (data) {
          $.each(data, function(key, value){
            labelPoints.push(value.labels);
            dataPoints1.push(value.data1);
            dataPoints2.push(value.data2);
            dataPoints3.push(value.data3);
          });

          new Chart($("#message-graph"), {
            type: "line",
            data: {
              labels: labelPoints,
              datasets: [
                {
                  label: /*[[#{message_graph.label1}]]*/ 'Car',
                  steppedLine: false,
                  data: dataPoints1,
                  borderColor: "rgba(220,53,69,0.8)",
                  backgroundColor:"rgba(240,168,175,0.9)"
                },
                {
                  label: /*[[#{message_graph.label2}]]*/ 'Managers',
                  steppedLine: false,
                  data: dataPoints2,
                  borderColor: "rgba(40,167,69,1)",
                  backgroundColor:"rgba(152,230,171,0.8)"
                },
                {
                  label: /*[[#{message_graph.label3}]]*/ 'All',
                  data: dataPoints3,
                  borderColor: "rgba(166,166,166,0.8)",
                  backgroundColor:"rgba(166,166,166,0.8)",
                  fill: false,
                  borderDash: [5, 5],
                  hidden: true
                }
              ]
            },
            options: {
              maintainAspectRatio: false,
              legend: {
                position: 'top'
              },
              tooltips: {
                intersect: false
              },
              hover: {
                intersect: true
              },
              plugins: {
                filler: {
                  propagate: false
                }
              },
              scales: {
                xAxes: [{
                  reverse: true,
                  gridLines: {
                    color: "rgba(0,0,0,0.05)"
                  }
                }],
                yAxes: [{
                  display: true,
                  borderDash: [5, 5],
                  gridLines: {
                    color: "rgba(0,0,0,0)",
                    fontColor: "#fff"
                  }
                }]
              }
            }
          });
        }
      });
    }
    let year = new Date().getFullYear();
    let FirstMonthDay = new Date(year, new Date().getMonth(), 1).toLocaleDateString('ru');
    let lastMontDay = new Date(year, new Date().getMonth() + 1, 0).toLocaleDateString('ru');

    CreateMessageDayGraph (FirstMonthDay, lastMontDay);
  });
  </script>

</span>

</body>
</html>