<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>

<span th:fragment="top" th:remove="tag">
<!--/* top fragment */-->
    <div class="splash active">
        <div class="splash-icon"></div>
    </div>

<div class="wrapper">
    <nav th:replace="fragments/leftmenu :: leftmenu">left menu</nav>

    <div class="main">
        <nav th:replace="fragments/navigation :: navigation">navigation</nav>
            <main class="content pr-0 pl-0 mr-0 ml-0 mt-0" style="margin-top: 0">

            <div class="container-fluid w-100 h-100 mr-0 ml-0">
</span>

<span th:fragment="bottom" th:remove="tag">

            </div>
        </main>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</div>


    <footer th:replace="layout/footer :: footer"></footer>
</span>

</body>
</html>