<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<nav th:fragment="leftmenu" id="sidebar" class="sidebar">
    <a class="sidebar-brand" th:href="@{/index}">
        <svg>
            <small class="d-none d-sm-inline"> <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                                               <span sec:authorize="!isAuthenticated()">v3.0.0.1</span>
            </small>
        </svg>
    </a>
        <div class="sidebar-content">
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Main
                </li>
                <li class="sidebar-item active" id="main_li">
                    <a class="sidebar-link" th:href="@{/index}">
                        <i class="align-middle mr-2 fas fa-fw fa-home"></i> <span class="align-middle" th:text="#{general.dashboard}">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item" id="help_li">
                    <a href="#help" id="help_a" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-desktop"></i> <span class="align-middle" th:text="#{help.caption}">Help</span>
                    </a>
                    <ul id="help" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" th:href="@{/help}" th:text="#{help.caption}">Help</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')" id="post_li" class="sidebar-item">
                    <a href="#postcenter" id="postcenter_a" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-play"></i> <span class="align-middle" th:text="#{Post.Center.Caption}">Post Center</span>
                    </a>
                    <ul id="postcenter" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item" id="dashboard_li"><a class="sidebar-link" id="dashboard_a" th:href="@{/dashboardrequest}" th:text="#{dashboardrequest.caption}">Dashboard request</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')" id="communicationcenter_li" class="sidebar-item">
                    <a href="#communicationcenter" id="communicationcenter_a" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-play"></i> <span class="align-middle" th:text="#{Communication.Center.Caption}">Communicztion Center</span>
                    </a>
                    <ul id="communicationcenter" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item" id="telegramuser_li"><a class="sidebar-link" id="telegramuser_a" th:href="@{/telegramuser}" th:text="#{Telegram.User}">Registrar</a></li>
                        <li class="sidebar-item" id="telegram_messages_li"><a class="sidebar-link" id="telegram_messages_a" th:href="@{/telegram_messages}" th:text="#{Telegram.Messages}">Messages</a></li>
                        <li class="sidebar-item" id="telegram_line_li"><a class="sidebar-link" id="telegram_line_a" th:href="@{/telegram_line}" th:text="#{Telegram.Line}">Line</a></li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>
</body>
</html>