<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<nav th:fragment="leftmenu" id="sidebar" class="sidebar">
    <a class="sidebar-brand" th:href="@{/index}">
        <svg>
            <small class="d-none d-sm-inline"> <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                                               <span sec:authorize="!isAuthenticated()">v3.0.0.1</span>
            </small>
        </svg>
    </a>
        <div class="sidebar-content">
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Main
                </li>
                <li class="sidebar-item active" id="main_li">
                    <a class="sidebar-link" th:href="@{/index}">
                        <i class="align-middle mr-2 fas fa-fw fa-home"></i> <span class="align-middle" th:text="#{general.dashboard}">Dashboard</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')" class="sidebar-item active" id="main_dashboardrequest_li">
                    <a class="sidebar-link" th:href="@{/dashboardrequest}">
                        <i class="align-middle mr-2 fas fa-fw fa-box"></i> <span class="align-middle" th:text="#{dashboardrequest.caption}">Dashboard card</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')" class="sidebar-item active" id="main_request_li">
                    <a class="sidebar-link" th:href="@{/request}">
                        <i class="align-middle mr-2 fas fa-fw fa-money-bill-alt"></i> <span class="align-middle" th:text="#{request.caption}">Request</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')" class="sidebar-item active" id="main_contragent_li">
                    <a class="sidebar-link" th:href="@{/contragent}">
                        <i class="align-middle mr-2 fas fa-fw fa-address-book"></i> <span class="align-middle" th:text="#{contragent.caption}">Contragent</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')" id="post_li" class="sidebar-item">
                    <a href="#postcenter" id="postcenter_a" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-box"></i> <span class="align-middle" th:text="#{Post.Center.Caption}">Post Center</span>
                    </a>
                    <ul id="postcenter" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item" id="dashboard_li"><a class="sidebar-link" id="dashboard_a" th:href="@{/dashboardrequest}" th:text="#{dashboardrequest.caption}">Dashboard request</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')" id="financecenter_li" class="sidebar-item">
                    <a href="#financecenter" id="financecenter_a" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-money-bill-alt"></i> <span class="align-middle" th:text="#{finance.center.caption}">Finance Center</span>
                    </a>
                    <ul id="financecenter" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item" id="productgroup_li"><a class="sidebar-link" id="productgroup_a" th:href="@{/productgroup}" th:text="#{productgroup.caption}">productgroup</a></li>
                        <li class="sidebar-item" id="ratetype_li"><a class="sidebar-link" id="ratetype_a" th:href="@{/ratetype}" th:text="#{ratetype.caption}">ratetype</a></li>
                        <li class="sidebar-item" id="typepackagematerial_li"><a class="sidebar-link" id="typepackagematerial_a" th:href="@{/typepackagematerial}" th:text="#{typepackagematerial.caption}">typepackagematerial</a></li>
                        <li class="sidebar-item" id="contragent_li"><a class="sidebar-link" id="contragent_a" th:href="@{/contragent}" th:text="#{contragent.caption}">contragent</a></li>
                        <li class="sidebar-item" id="finance_li"><a class="sidebar-link" id="finance_a" th:href="@{/financecenter}" th:text="#{finance.caption}">Finance</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')" id="communicationcenter_li" class="sidebar-item">
                    <a href="#communicationcenter" id="communicationcenter_a" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-handshake"></i> <span class="align-middle" th:text="#{Communication.Center.Caption}">Communication Center</span>
                    </a>
                    <ul id="communicationcenter" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item" id="telegramuser_li"><a class="sidebar-link" id="telegramuser_a" th:href="@{/telegramuser}" th:text="#{Telegram.User}">Registrar</a></li>
                        <li class="sidebar-item" id="telegram_messages_li"><a class="sidebar-link" id="telegram_messages_a" th:href="@{/telegram_messages}" th:text="#{Telegram.Messages}">Messages</a></li>
                        <li class="sidebar-item" id="telegram_line_li"><a class="sidebar-link" id="telegram_line_a" th:href="@{/telegram_line}" th:text="#{Telegram.Line}">Line</a></li>
                    </ul>
                </li>
                <li class="sidebar-item" id="help_li">
                    <a href="#help" id="help_a" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle mr-2 fas fa-fw fa-question-circle"></i> <span class="align-middle" th:text="#{help.caption}">Help</span>
                    </a>
                    <ul id="help" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" th:href="@{/help}" th:text="#{help.caption}">Help</a></li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>
</body>
</html>