<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="layout/header :: header(title = #{index.caption})"></head>

<body> <!-- right-to-left -->
    <div class="splash active">
        <div class="splash-icon"></div>
    </div>

    <div class="wrapper">
        <nav th:replace="fragments/leftmenu :: leftmenu">left menu</nav>

        <div class="main">

            <nav th:replace="fragments/navigation :: navigation">navigation</nav>

            <main class="content pr-0 pl-0 mr-0 ml-0 mt-0" style="margin-top: 0">
                <div class="container-fluid w-100 h-100 mr-0 ml-0" sec:authorize="!isAuthenticated()">
                    <div class="row">
                        <div class="col-xl-6 pl-2 pr-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#help_description_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#help_description_div" data-toggle="collapse" th:text="#{help.caption}">Help</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="help_description_div">
                                    <div>
                                        <p class="card-text" th:text="#{help.description}"></p>
                                        <a class="card-link" th:href="@{/help}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid w-100 h-100 mr-0 ml-0" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="row">
                        <div class="col-xl-6 pl-2 pr-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#telegram_description_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#telegram_description_div" data-toggle="collapse" th:text="#{hcomm.telegram.caption}">Telegram</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="telegram_description_div">
                                    <div>
                                        <p class="card-text" th:text="#{hcomm.telegram.description}"></p>
                                        <a class="card-link" th:href="@{/help}" th:text="#{general.Learnmore}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 pl-1 pr-2 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#mail_description_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#mail_description_div" data-toggle="collapse" th:text="#{hcomm.mail.caption}">Почта</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="mail_description_div">
                                    <div>
                                        <p class="card-text" th:text="#{hcomm.mail.description}"></p>
                                        <a class="card-link" th:href="@{/help}" th:text="#{general.Learnmore}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 pl-2 pr-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#help_description_card" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i></a>
                                    </div>
                                    <h5 class="card-title" href="#help_description_card" data-toggle="collapse" th:text="#{help.caption}">Help</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="help_description_card">
                                    <div>
                                        <p class="card-text" th:text="#{help.description}"></p>
                                        <a class="card-link" th:href="@{/help}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid w-100 h-100 mr-0 ml-0" sec:authorize="hasRole('ROLE_API')">
                    <div class="row">
                        <div class="col-xl-6 pl-2 pr-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#help_api_description_card" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#help_api_description_card" data-toggle="collapse" th:text="#{help.caption}">Help</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="help_api_description_card">
                                    <div>
                                        <p class="card-text" th:text="#{help.description}"></p>
                                        <a class="card-link" th:href="@{/help}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
<!-- /#wrapper -->
<footer th:replace="layout/footer :: footer">Footer</footer>
</body>
</html>