<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="layout/header :: header(title = #{index.caption})"></head>

<body> <!-- right-to-left -->
    <div class="splash active">
        <div class="splash-icon"></div>
    </div>

    <div class="wrapper">
        <nav th:replace="fragments/leftmenu :: leftmenu">left menu</nav>

        <div class="main">

            <nav th:replace="fragments/navigation :: navigation">navigation</nav>

            <main class="content pr-0 pl-0 mr-0 ml-0 mt-0" style="margin-top: 0">
                <div class="container-fluid w-100 h-100 mr-0 ml-0" sec:authorize="!isAuthenticated()">
                    <div class="row">
                        <div class="col-12 pl-2 pr-2 col-xl-6 pl-xl-2 pr-xl-2 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#help_description_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#help_description_div" data-toggle="collapse" th:text="#{help.caption}">Help</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="help_description_div">
                                    <div>
                                        <p class="card-text" th:text="#{help.description}"></p>
                                        <a class="card-link" th:href="@{/help}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Start Div -->

                <div class="container-fluid w-100 h-100 mr-0 ml-0" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_HUBMANAGER')">

                    <div class="row">
                        <div class="col-6 pl-1 pr-1 col-xl-6 pl-xl-1 pr-xl-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#dashboard_description_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#dashboard_description_div" data-toggle="collapse" th:text="#{dashboardrequest.caption}">Dashboard Card</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="dashboard_description_div">
                                    <div>
                                        <p class="card-text" th:text="#{dashboardrequest.description}"></p>
                                        <a class="card-link" th:href="@{/dashboardrequest}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pl-1 pr-1 col-xl-6 pl-xl-1 pr-xl-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#error_description_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#error_description_div" data-toggle="collapse" th:text="#{error.center.caption}">Error center</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="error_description_div">
                                    <div>
                                        <p class="card-text" th:text="#{error.center.description}"></p>
                                        <a class="card-link" th:href="@{/errorcenter}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row 1 -->

                    <div class="row">
                        <div class="col-6 pl-1 pr-1 col-xl-6 pl-xl-1 pr-xl-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#finance_description_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#finance_description_div" data-toggle="collapse" th:text="#{finance.center.caption}">Finance</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="finance_description_div">
                                    <div>
                                        <p class="card-text" th:text="#{finance.center.description}"></p>
                                        <a class="card-link" th:href="@{/financecenter}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row 2 -->

                    <div class="row">
                        <div class="col-6 pl-1 pr-1 col-xl-6 pl-xl-1 pr-xl-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#hcomm_description_div" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#hcomm_description_div" data-toggle="collapse" th:text="#{hcomm.line.caption}">Line</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="hcomm_description_div">
                                    <div>
                                        <p class="card-text" th:text="#{hcomm.line.description}"></p>
                                        <a class="card-link" th:href="@{/telegram_line}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pl-1 pr-1 col-xl-6 pl-xl-1 pr-xl-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#help_description_card" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i></a>
                                    </div>
                                    <h5 class="card-title" href="#help_description_card" data-toggle="collapse" th:text="#{help.caption}">Help</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="help_description_card">
                                    <div>
                                        <p class="card-text" th:text="#{help.description}"></p>
                                        <a class="card-link" th:href="@{/help}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row 3 -->

                    <div class="row">
                        <div class="col-12 pl-1 pr-1 col-xl-12 pl-xl-1 pr-xl-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#message_graph_card" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i></a>
                                    </div>
                                    <h5 class="card-title" href="#message_graph_card" data-toggle="collapse" th:text="#{message_graph.caption}">Message Graph</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="message_graph_card">
                                    <div id="par-message-graph" class="chart">
                                        <canvas id="message-graph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row 4 -->
                </div><!-- Main Div -->

                <div class="container-fluid w-100 h-100 mr-0 ml-0" sec:authorize="hasRole('ROLE_API')">
                    <div class="row">
                        <div class="col-xl-6 pl-2 pr-1 pt-0">
                            <div class="card flex-fill w-100 mb-2">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">
                                        <a href="#help_api_description_card" data-toggle="collapse"><i class="align-middle" data-feather="minus"></i> </a>
                                    </div>
                                    <h5 class="card-title" href="#help_api_description_card" data-toggle="collapse" th:text="#{help.caption}">Help</h5>
                                </div>
                                <div class="card-body pt-0 collapse show" id="help_api_description_card">
                                    <div>
                                        <p class="card-text" th:text="#{help.description}"></p>
                                        <a class="card-link" th:href="@{/help}" th:text="#{general.run}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
<!-- /#wrapper -->

<footer th:replace="layout/footer :: footer">Footer</footer>

<script sec:authorize="isAuthenticated()" th:inline="javascript">

    $(document).ready(function () {
        function CreateMessageDayGraph(aStartDate, aEndDate) {
            $('#message-graph').remove();
            $('#par-message-graph').append('<canvas id="message-graph"></canvas>');

            let labelPoints = [];
            let dataPoints1 = [];
            let dataPoints2 = [];
            let dataPoints3 = [];

            $.ajax({
                url: /*[[ @{/get_message_day_graph} ]]*/ "/get_message_day_graph",
                type: 'GET',
                data: {
                    "start_date": aStartDate,
                    "end_date": aEndDate
                },
                success: function (data) {
                    $.each(data, function (key, value) {
                        labelPoints.push(value.labels);
                        dataPoints1.push(value.data1);
                        dataPoints2.push(value.data2);
                        dataPoints3.push(value.data3);
                    });

                    new Chart($("#message-graph"), {
                        type: "line",
                        data: {
                            labels: labelPoints,
                            datasets: [
                                {
                                    label: /*[[#{message_graph.label1}]]*/ 'Car',
                                    steppedLine: false,
                                    data: dataPoints1,
                                    borderColor: "rgba(220,53,69,0.8)",
                                    backgroundColor: "rgba(240,168,175,0.9)"
                                },
                                {
                                    label: /*[[#{message_graph.label2}]]*/ 'Managers',
                                    steppedLine: false,
                                    data: dataPoints2,
                                    borderColor: "rgba(40,167,69,1)",
                                    backgroundColor: "rgba(152,230,171,0.8)"
                                },
                                {
                                    label: /*[[#{message_graph.label3}]]*/ 'All',
                                    data: dataPoints3,
                                    borderColor: "rgba(166,166,166,0.8)",
                                    backgroundColor: "rgba(166,166,166,0.8)",
                                    fill: false,
                                    borderDash: [5, 5],
                                    hidden: true
                                }
                            ]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                position: 'top'
                            },
                            tooltips: {
                                intersect: false
                            },
                            hover: {
                                intersect: true
                            },
                            plugins: {
                                filler: {
                                    propagate: false
                                }
                            },
                            scales: {
                                xAxes: [{
                                    reverse: true,
                                    gridLines: {
                                        color: "rgba(0,0,0,0.05)"
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    borderDash: [5, 5],
                                    gridLines: {
                                        color: "rgba(0,0,0,0)",
                                        fontColor: "#fff"
                                    }
                                }]
                            }
                        }
                    });
                }
            });
        }

        let year = new Date().getFullYear();
        let FirstMonthDay = new Date(year, new Date().getMonth(), 1).toLocaleDateString('ru');
        let lastMontDay = new Date(year, new Date().getMonth() + 1, 0).toLocaleDateString('ru');

        CreateMessageDayGraph(FirstMonthDay, lastMontDay);
    });

</script>

</body>
</html>