<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<span th:fragment="boxcontent_modal_body" th:remove="tag">
    <div class="modal fade was-validated" id="boxcontent_modal" data-toggle="validator" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="hidden">
                <input type="hidden" id="boxcontent_modal_mode">
            </div>

            <div class="modal-content" id="boxcontent_modal_detail">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{boxcontent.caption}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mb-1">
                    <form id="boxcontent_modal_form" name="boxcontent_modal_form" class="was-validated" novalidate>
                        <div class="form-row">
                            <input type="number" class="form-control" id="boxcontent_modal_bc_id" name="bc_id" hidden>
                            <input type="number" class="form-control" id="boxcontent_modal_box_id" name="box_id" hidden>

                            <div class="col-4" id="boxcontent_modal_bc_num_row">
                                <label for="boxcontent_modal_bc_num" class="form-label" th:text="#{boxcontent.bc_num}"></label>
                                <input type="text" class="form-control" id="boxcontent_modal_bc_num" name="bc_num">
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                            <div class="col-4" id="boxcontent_modal_bc_count_row">
                                <label for="boxcontent_modal_bc_count" class="form-label" th:text="#{boxcontent.bc_count}"></label>
                                <input type="number" step="1" class="form-control" id="boxcontent_modal_bc_count" name="bc_count">
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                            <div class="col-4" id="boxcontent_modal_bc_weight_row">
                                <label for="boxcontent_modal_bc_weight" class="form-label" th:text="#{boxcontent.bc_weight}"></label>
                                <input type="number" step="0.001" class="form-control" id="boxcontent_modal_bc_weight" name="bc_weight">
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                        </div><!-- Row 1 -->
                        <div class="form-row">
                            <div class="col-12" id="boxcontent_modal_bc_description_row">
                                <label for="boxcontent_modal_bc_description" class="form-label" th:text="#{boxcontent.bc_description}"></label>
                                <input type="text" class="form-control" id="boxcontent_modal_bc_description" name="bc_description">
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                            
                        </div><!-- Row 2 -->
                        <div class="form-row">
                            <div class="col-4" id="boxcontent_modal_bc_mark_row">
                                <label for="boxcontent_modal_bc_mark" class="form-label" th:text="#{boxcontent.bc_mark}"></label>
                                <select class="form-control select2" style="width:100%; float:left;" data-toggle="select2" id="boxcontent_modal_bc_mark" name="bc_mark">
                                    <option th:value="0" th:text="#{general.no}" >Нет</option>
                                    <option th:value="1" th:text="#{general.yes}" >Да</option>
                                </select>
                            </div>
                            <div class="col-4" id="boxcontent_modal_bc_unitprice_row">
                                <label for="boxcontent_modal_bc_unitprice" class="form-label" th:text="#{boxcontent.bc_unitprice}"></label>
                                <input type="number" step="0.01" class="form-control" id="boxcontent_modal_bc_unitprice" name="bc_unitprice">
                                <div class="valid-feedback" th:text="#{general.field_fill}"> Looks good! </div>
                                <div class="invalid-feedback" th:text="#{general.filed_unfilled}"> Bad! </div>
                            </div>
                        </div><!-- Row 3 -->
                    </form>
                </div><!-- Body -->
                <div class="modal-footer">
                    <button type="button" id="boxcontent_modal_closebtn" class="btn btn-outline-dark mr-1" data-dismiss="modal" th:text="#{general.back}"></button>
                    <button type="button" id="boxcontent_modal_addbtn" class="btn btn-outline-primary" th:text="#{general.addbtn}" hidden></button>
                    <button type="button" id="boxcontent_modal_editbtn" class="btn btn-outline-primary" th:text="#{general.editbtn}" hidden></button>
                    <button type="button" id="boxcontent_modal_delbtn" class="btn btn-outline-primary" th:text="#{general.delbtn}" hidden></button>
                </div>
            </div>
        </div>
    </div>
</span>

<script th:fragment="cardscript" th:inline="javascript">

// Clear Fields
    function clear_boxcontent_modal_detail() {
        $("#boxcontent_modal_detail input[type=text]").val('');
        $("#boxcontent_modal_detail input[type=number]").val('');
        $("#boxcontent_modal_detail select").val(null);
        $("#boxcontent_modal_detail textarea").val('');
    }

// Block And Required Fields
    function block_boxcontent_modal_detail() {
        $('#boxcontent_modal_bc_num').attr('required',true);
        $('#boxcontent_modal_bc_description').attr('required',true);
        $('#boxcontent_modal_bc_mark').attr('required',true);
        $('#boxcontent_modal_bc_count').attr('required',true);
        $('#boxcontent_modal_bc_weight').attr('required',true);
        $('#boxcontent_modal_bc_unitprice').attr('required',true);
        

        if($('#boxcontent_modal_mode').val() === "0"){
            $('#boxcontent_modal_bc_num').removeAttr('disabled');
            $('#boxcontent_modal_bc_description').removeAttr('disabled');
            $('#boxcontent_modal_bc_mark').removeAttr('disabled');
            $('#boxcontent_modal_bc_count').removeAttr('disabled');
            $('#boxcontent_modal_bc_weight').removeAttr('disabled');
            $('#boxcontent_modal_bc_unitprice').removeAttr('disabled');
        }
        else if($('#boxcontent_modal_mode').val() === "1"){
            $('#boxcontent_modal_bc_num').removeAttr('disabled');
            $('#boxcontent_modal_bc_description').removeAttr('disabled');
            $('#boxcontent_modal_bc_mark').removeAttr('disabled');
            $('#boxcontent_modal_bc_count').removeAttr('disabled');
            $('#boxcontent_modal_bc_weight').removeAttr('disabled');
            $('#boxcontent_modal_bc_unitprice').removeAttr('disabled');
        }
        else{
            $('#boxcontent_modal_bc_num').attr('disabled',true);
            $('#boxcontent_modal_bc_description').attr('disabled',true);
            $('#boxcontent_modal_bc_mark').attr('disabled',true);
            $('#boxcontent_modal_bc_count').attr('disabled',true);
            $('#boxcontent_modal_bc_weight').attr('disabled',true);
            $('#boxcontent_modal_bc_unitprice').attr('disabled',true);
        }
    }

// Load Function
    function fill_boxcontent_modal_detail(aMode){
        $('#boxcontent_modal_mode').val(aMode);
        clear_boxcontent_modal_detail();
        block_boxcontent_modal_detail();
        
        if(aMode > 0){
                    $.when(                        
                    ).then(function () {
                        $('#boxcontent_modal_bc_id').val(vBoxContent.rowdata.bc_id);
                        $('#boxcontent_modal_box_id').val(vBoxContent.rowdata.box_id);
                        $('#boxcontent_modal_bc_num').val(vBoxContent.rowdata.bc_num);
                        $('#boxcontent_modal_bc_description').val(vBoxContent.rowdata.bc_description);
                        $('#boxcontent_modal_bc_mark').val(vBoxContent.rowdata.bc_mark).change();
                        $('#boxcontent_modal_bc_count').val(vBoxContent.rowdata.bc_count);
                        $('#boxcontent_modal_bc_weight').val(vBoxContent.rowdata.bc_weight);
                        $('#boxcontent_modal_bc_unitprice').val(vBoxContent.rowdata.bc_unitprice);
                        $('#boxcontent_modal').modal('show');
                    });
        }
        else if(aMode === 0) {
            $.when(
            ).then(function () {
                $('#boxcontent_modal_box_id').val(vBox.rowdata.box_id);
                $('#boxcontent_modal_bc_num').val('');
                $('#boxcontent_modal_bc_description').val('');
                $('#boxcontent_modal_bc_mark').val(0).change();
                $('#boxcontent_modal_bc_count').val(0);
                $('#boxcontent_modal_bc_weight').val(0);
                $('#boxcontent_modal_bc_unitprice').val(0);
                $('#boxcontent_modal').modal('show');
            });
        }
}

// Add button script
$('#boxcontent_modal_addbtn').on('click', function(){
    $('#boxcontent_modal_form').submit();
});
// Edit button script
$('#boxcontent_modal_editbtn').on('click', function(){
    $('#boxcontent_modal_form').submit();
});
// Del button script
$('#boxcontent_modal_delbtn').on('click', function(){
    $('#boxcontent_modal_form').submit();
});

//Add Client Address
function addBoxContent(){
    $.ajax({
        url: /*[[ @{/boxcontent/add_boxcontent} ]]*/ "/boxcontent/add_boxcontent",
        type: 'POST',
        data: $("#boxcontent_modal_form").serialize(),
        success: function (result) {
            $('#boxcontent_modal').modal('hide');
            vBoxContent.rowdata.bc_id = result;
            $(vRequest.table).DataTable().ajax.reload(null, false);
        }
    });
}

//Edit Client Address
function editBoxContent(){
    $.ajax({
        url: /*[[ @{/boxcontent/edit_boxcontent} ]]*/ "/boxcontent/edit_boxcontent",
        type: 'POST',
        data: $("#boxcontent_modal_form").serialize(),
        success: function (result) {
            $('#boxcontent_modal').modal('hide');
            $(vRequest.table).DataTable().ajax.reload(null, false);
        }
    });
}

// Delete button script
function delBoxContent(){
    $.ajax({
        url: /*[[ @{/boxcontent/del_boxcontent} ]]*/ "/boxcontent/del_boxcontent",
        type: 'POST',
        data: $("#boxcontent_modal_form").serialize(),
        success: function (result) {
            $('#boxcontent_modal').modal('hide');
            vBoxContent.rowdata.bc_id = null;
            $(vRequest.table).DataTable().ajax.reload(null, false);
        }
    });
}

//Validation Form
$('#boxcontent_modal_form').validate({
    rules: {
        // amount: {
        //     //money: true, // not a valid rule
        //     required: true
        // },
        // comment: {
        //     required: false
        // }
    },
    errorPlacement: function(error,element) {
        return true;
    },
    submitHandler: function (form) {
        if($('#boxcontent_modal_mode').val() === '0') {
            addBoxContent();
        }
        else if($('#boxcontent_modal_mode').val() === '1') {
            editBoxContent();
        }
        else if($('#boxcontent_modal_mode').val() === '2') {
            delBoxContent();
        }
        return false;
    }
});

// OnChange Functions
</script>

</body>
</html>